.users-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}

@media (max-width: 600px) {
  .users-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
  }

  .container {
    padding: 0;
  }

  .card {
    margin-right: 0;
    margin-bottom: 8rem;
    width: 80%;
  }
}
