.users-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}

@media (max-width: 600px) {
  .users-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}
