html,
body {
  font-size: 100%;
  margin: 0;
  background-color: #999;
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 10rem auto;
  box-sizing: border-box;
  overflow-y: scroll;
}

.loader h3 {
  width: 100%;
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    margin-top: 3rem;
  }
}
